.albumImage{
    width: 80%;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.albumImage img{
    border-radius: 80px;
    width: 100%;
    aspect-ratio: 1;
}

.albumImage-shadow{
    width: 90%;
    position: absolute;
    top: 22px;
    z-index: -1;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}